# Exercise 3

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [4]:
df = pd.read_csv ('EFIplus_medit.zip',compression="zip", sep= ";")

In [14]:
print(df)

       Site_code   Latitude  Longitude   Country Catchment_name  Galiza  \
0     ES_01_0002  38.102003  -4.096070     Spain   Guadalquivir       0
1     ES_02_0001  40.530188  -1.887796     Spain           Tejo       0
2     ES_02_0002  40.595432  -1.928079     Spain           Tejo       0
3     ES_02_0003  40.656184  -1.989831     Spain           Tejo       0
4     ES_02_0004  40.676402  -2.036274     Spain           Tejo       0
...          ...        ...        ...       ...            ...     ...
5006      PTVO60  40.641612  -8.325149  Portugal          Vouga       0
5007      PTVO61  40.729015  -8.098851  Portugal          Vouga       0
5008      PTVO62  40.727959  -8.107344  Portugal          Vouga       0
5009      PTVO63  40.817783  -8.224903  Portugal          Vouga       0
5010      PTVO64  40.794352  -8.255380  Portugal          Vouga       0

      Subsample  Calib_EFI_Medit  Calib_connect  Calib_hydrol  ...  \
0             1                0              1             0  ...
1             1                1              1             1  ...
2             1                1              1             1  ...
3             1                1              1             1  ...
4             1                1              1             1  ...
...         ...              ...            ...           ...  ...
5006          1                0              0             0  ...
5007          1                0              0             0  ...
5008          1                0              0             0  ...
5009          1                0              0             0  ...
5010          1                0              1             0  ...

      Squalius malacitanus  Squalius pyrenaicus  Squalius torgalensis  \
0                        0                    0                     0
1                        0                    0                     0
2                        0                    0                     0
3                        0                    0                     0
4                        0                    0                     0
...                    ...                  ...                   ...
5006                     0                    0                     0
5007                     0                    0                     0
5008                     0                    0                     0
5009                     0                    0                     0
5010                     0                    0                     0

      Thymallus thymallus  Tinca tinca Zingel asper Squalius sp  Barbatula sp  \
0                       0            0            0           0             0
1                       0            0            0           0             0
2                       0            0            0           0             0
3                       0            0            0           0             0
4                       0            0            0           0             0
...                   ...          ...          ...         ...           ...
5006                    0            0            0           1             0
5007                    0            0            0           1             0
5008                    0            0            0           1             0
5009                    0            0            0           0             0
5010                    0            0            0           1             0

     Phoxinus sp  Iberochondrostoma_sp
0              0                     0
1              0                     0
2              0                     0
3              0                     0
4              0                     0
...          ...                   ...
5006           0                     0
5007           0                     0
5008           0                     0
5009           0                     0
5010           0                     0

[5011 rows x 164 columns]

In [13]:
df.columns

Index(['Site_code', 'Latitude', 'Longitude', 'Country', 'Catchment_name',
       'Galiza', 'Subsample', 'Calib_EFI_Medit', 'Calib_connect',
       'Calib_hydrol',
       ...
       'Squalius malacitanus', 'Squalius pyrenaicus', 'Squalius torgalensis',
       'Thymallus thymallus', 'Tinca tinca', 'Zingel asper', 'Squalius sp',
       'Barbatula sp', 'Phoxinus sp', 'Iberochondrostoma_sp'],
      dtype='object', length=164)

In [10]:
df.iloc[0:5011,0:5]

       Site_code   Latitude  Longitude   Country Catchment_name
0     ES_01_0002  38.102003  -4.096070     Spain   Guadalquivir
1     ES_02_0001  40.530188  -1.887796     Spain           Tejo
2     ES_02_0002  40.595432  -1.928079     Spain           Tejo
3     ES_02_0003  40.656184  -1.989831     Spain           Tejo
4     ES_02_0004  40.676402  -2.036274     Spain           Tejo
...          ...        ...        ...       ...            ...
5006      PTVO60  40.641612  -8.325149  Portugal          Vouga
5007      PTVO61  40.729015  -8.098851  Portugal          Vouga
5008      PTVO62  40.727959  -8.107344  Portugal          Vouga
5009      PTVO63  40.817783  -8.224903  Portugal          Vouga
5010      PTVO64  40.794352  -8.255380  Portugal          Vouga

[5011 rows x 5 columns]