# Analysis and Visualization of Complex Agro-Environmental Data
---
## Introduction to Pandas
The name `pandas` is derived from "panel data" and it is the ideal package to deal with structured data, most typically in the form of relational tables, i.e. a table of columns (fields or variables) that describe a listing, or rows, of data (or observations). In pandas (as in R software), a data table is called a [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame), which is defined as a two-dimensional, size-mutable (rows and/or columns may be added or deleted), potentially heterogeneous (may contain string, numeric, boolean and missing data) tabular data. Pandas offers a wide range of tools to explore, clean, and process your data.

The first step will be to [install](https://pandas.pydata.org/docs/getting_started/install.html#) pandas. Then, you will need to import pandas to your work session:

In [5]:
import pandas as pd

We may import tabular data from a *.csv file or a *.xlsx file directly to a DataFrame using, respectively, the `read_csv` and `read_excel` funcions. Let's run an example with the table `penguins_lter.csv`, available on the "examples" folder of our github repository (you may run `help(pd. read_csv)` to check the arguments)

In [6]:
df = pd.read_csv (r"C:\Users\Rayza\AVCAD\greends-avcad-2025\examples\penguins_lter.csv", # the path to the file ("r" is used when the bars in the path are inverted)
              sep=',', # the list separator in *.csv
              header = 'infer', # automatically infers the header row.
              index_col = None) # if no row indexing will be needed
df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
len(df) # number of rows of the DataFrame

344

### Handling data with pandas

#### Accessing data atributes `dataframe.atribute`

In [9]:
df.values # returns a N dimensional matrix (array)

array([['PAL0708', 1, 'Adelie Penguin (Pygoscelis adeliae)', ..., nan,
        nan, 'Not enough blood for isotopes.'],
       ['PAL0708', 2, 'Adelie Penguin (Pygoscelis adeliae)', ...,
        8.94956, -24.69454, nan],
       ['PAL0708', 3, 'Adelie Penguin (Pygoscelis adeliae)', ...,
        8.36821, -25.33302, nan],
       ...,
       ['PAL0910', 122, 'Gentoo penguin (Pygoscelis papua)', ...,
        8.30166, -26.04117, nan],
       ['PAL0910', 123, 'Gentoo penguin (Pygoscelis papua)', ...,
        8.24246, -26.11969, nan],
       ['PAL0910', 124, 'Gentoo penguin (Pygoscelis papua)', ..., 8.3639,
        -26.15531, nan]], dtype=object)

In [10]:
df.columns # returns a list with the header (variables) names.

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [11]:
print(df. head(10)) # prints the first 10 rows.

  studyName  Sample Number                              Species  Region  \
0   PAL0708              1  Adelie Penguin (Pygoscelis adeliae)  Anvers
1   PAL0708              2  Adelie Penguin (Pygoscelis adeliae)  Anvers
2   PAL0708              3  Adelie Penguin (Pygoscelis adeliae)  Anvers
3   PAL0708              4  Adelie Penguin (Pygoscelis adeliae)  Anvers
4   PAL0708              5  Adelie Penguin (Pygoscelis adeliae)  Anvers
5   PAL0708              6  Adelie Penguin (Pygoscelis adeliae)  Anvers
6   PAL0708              7  Adelie Penguin (Pygoscelis adeliae)  Anvers
7   PAL0708              8  Adelie Penguin (Pygoscelis adeliae)  Anvers
8   PAL0708              9  Adelie Penguin (Pygoscelis adeliae)  Anvers
9   PAL0708             10  Adelie Penguin (Pygoscelis adeliae)  Anvers

      Island               Stage Individual ID Clutch Completion  Date Egg  \
0  Torgersen  Adult, 1 Egg Stage          N1A1               Yes  11/11/07
1  Torgersen  Adult, 1 Egg Stage          N1A2               Yes  11/11/07
2  Torgersen  Adult, 1 Egg Stage          N2A1               Yes  11/16/07
3  Torgersen  Adult, 1 Egg Stage          N2A2               Yes  11/16/07
4  Torgersen  Adult, 1 Egg Stage          N3A1               Yes  11/16/07
5  Torgersen  Adult, 1 Egg Stage          N3A2               Yes  11/16/07
6  Torgersen  Adult, 1 Egg Stage          N4A1                No  11/15/07
7  Torgersen  Adult, 1 Egg Stage          N4A2                No  11/15/07
8  Torgersen  Adult, 1 Egg Stage          N5A1               Yes   11/9/07
9  Torgersen  Adult, 1 Egg Stage          N5A2               Yes   11/9/07

   Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  Body Mass (g)  \
0                39.1               18.7                181.0         3750.0
1                39.5               17.4                186.0         3800.0
2                40.3               18.0                195.0         3250.0
3                 NaN                NaN                  NaN            NaN
4                36.7               19.3                193.0         3450.0
5                39.3               20.6                190.0         3650.0
6                38.9               17.8                181.0         3625.0
7                39.2               19.6                195.0         4675.0
8                34.1               18.1                193.0         3475.0
9                42.0               20.2                190.0         4250.0

      Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0    MALE                NaN                NaN
1  FEMALE            8.94956          -24.69454
2  FEMALE            8.36821          -25.33302
3     NaN                NaN                NaN
4  FEMALE            8.76651          -25.32426
5    MALE            8.66496          -25.29805
6  FEMALE            9.18718          -25.21799
7    MALE            9.46060          -24.89958
8     NaN                NaN                NaN
9     NaN            9.13362          -25.09368

                                Comments
0         Not enough blood for isotopes.
1                                    NaN
2                                    NaN
3                     Adult not sampled.
4                                    NaN
5                                    NaN
6  Nest never observed with full clutch.
7  Nest never observed with full clutch.
8              No blood sample obtained.
9   No blood sample obtained for sexing.

#### Accessing and subsetting data

##### Variable subsetting

In [12]:
# extract 'Species' column from df
df['Species']

0      Adelie Penguin (Pygoscelis adeliae)
1      Adelie Penguin (Pygoscelis adeliae)
2      Adelie Penguin (Pygoscelis adeliae)
3      Adelie Penguin (Pygoscelis adeliae)
4      Adelie Penguin (Pygoscelis adeliae)
                      ...
339      Gentoo penguin (Pygoscelis papua)
340      Gentoo penguin (Pygoscelis papua)
341      Gentoo penguin (Pygoscelis papua)
342      Gentoo penguin (Pygoscelis papua)
343      Gentoo penguin (Pygoscelis papua)
Name: Species, Length: 344, dtype: object

In [13]:
# or
df.Species

0      Adelie Penguin (Pygoscelis adeliae)
1      Adelie Penguin (Pygoscelis adeliae)
2      Adelie Penguin (Pygoscelis adeliae)
3      Adelie Penguin (Pygoscelis adeliae)
4      Adelie Penguin (Pygoscelis adeliae)
                      ...
339      Gentoo penguin (Pygoscelis papua)
340      Gentoo penguin (Pygoscelis papua)
341      Gentoo penguin (Pygoscelis papua)
342      Gentoo penguin (Pygoscelis papua)
343      Gentoo penguin (Pygoscelis papua)
Name: Species, Length: 344, dtype: object

In [14]:
# Extract more than one column
df[['Species', 'Culmen Length (mm)']]

                                 Species  Culmen Length (mm)
0    Adelie Penguin (Pygoscelis adeliae)                39.1
1    Adelie Penguin (Pygoscelis adeliae)                39.5
2    Adelie Penguin (Pygoscelis adeliae)                40.3
3    Adelie Penguin (Pygoscelis adeliae)                 NaN
4    Adelie Penguin (Pygoscelis adeliae)                36.7
..                                   ...                 ...
339    Gentoo penguin (Pygoscelis papua)                 NaN
340    Gentoo penguin (Pygoscelis papua)                46.8
341    Gentoo penguin (Pygoscelis papua)                50.4
342    Gentoo penguin (Pygoscelis papua)                45.2
343    Gentoo penguin (Pygoscelis papua)                49.9

[344 rows x 2 columns]

In [15]:
df.Culmen Length (mm) # ERROR - no spaces are allowed in variable names to extrac this way.

SyntaxError: invalid syntax (3798321861.py, line 1)

##### Row subsetting

In [ ]:
df[df.Species == "Gentoo penguin (Pygoscelis papua)"] # extract rows containing "Gentoo penguin (Pygoscelis papua)" in 'Species'

In [ ]:
df[df.Species != "Adelie Penguin (Pygoscelis adeliae)"] # extract rows not containing "Adelie penguin (Pygoscelis adeliae)" in 'Species'

In [ ]:
df[df['Culmen Length (mm)'] > 40] # extract all rows with Culmen Length > 40 mm

In [ ]:
df.sample(n=5) # random sample of 5 rows

##### Row and column subsetting

Data subsetting in pandas are often based on the `.loc` and `iloc` methods. 

* The `loc` method uses rows and column names: `.loc[row names , column names]`

* The `iloc` method uses indices instead: `.iloc[row index> , column index]`

In [ ]:
df.loc[199,'Species'] # returns 'Species' at row with index = 199 (row 200)

In [ ]:
df.loc[0:4,'Species'] # returns 'Species' from rows 0 to 4 (including 4, as it assumes as a name).

In [ ]:
df.loc[:,['Species','Culmen Length (mm)']] # returns 'Species' and 'Culmen Length (mm)' for all rows

In [ ]:
df.iloc[0:4, [2,9]] # returns 'Species' and 'Culmen Length (mm)' for rows 0 to 3.

In [ ]:
df.iloc[2:4,:] # returns all columns of lines 2 and 3.

##### Summary functions

In [ ]:
df['Culmen Length (mm)'].sum() # Sums all the rowws of the selected column

In [ ]:
df.count() # counts rows with data

In [ ]:
df.mean() # computes the mean value of only the quantitative variables (columns)

In [ ]:
df['Culmen Length (mm)'].mean() # computes the mean of the selected row

In [ ]:
df.describe() # computes several statistics of only the quantitative variables (columns)

In [ ]:
# Same thing but now using 'round' function
round(df.describe() ,2)

##### Convert to other data formats

In [ ]:
dflist = df.values.tolist() # converts DataFrame to a list of lists
print(*dflist, sep="\n") # print 'each list' (defined by *) within the overall list (dflist) in different rows (defined by sep="\n").

In [ ]:

species = df['Species'].values.tolist() # converts the variable "Species" into a list.
print(species)

In [ ]:
# or
print(*species, sep="\n")

##### Creating DataFrames

In [ ]:
# Create lists
list1 = ['Cropland', 'Forest', 'Grassland ', 'Urban']
list2 = [60 , 20, 5, 10]

In [ ]:
# Defining each list as columns
data = list(zip(list1, list2)) # list of tuples
newdf = pd. DataFrame(data=data , columns =['LULC', '2010'])
print(newdf)

In [ ]:
# Defining each list as rows
newdf2 = pd.DataFrame([list1 ,list2], index =['LULC','2010'])
print(newdf2)

In [ ]:
# transpose DataFrames
print(newdf2.T)

In [ ]:
# set first row as the header names
newdf2.columns = newdf2.iloc[0]
newdf2 = newdf2[1:] # remove duplicated row (1)
print(newdf2)

# alternatively: 
# newdf2.rename(columns=newdf2.iloc[0]).drop(newdf2.index[0])
# print(newdf2)

##### Adding and combining

In [ ]:
# Adding rows
newdf2.loc[2] = [55, 15, 10, 15] # inserts new row in row 2
newdf2.rename(index={2: '2020'}, inplace=True) # replace the index name by '2020'
print(newdf2)

In [ ]:
# Adding columns
newdf['2020'] = [55, 15, 10, 15]
print(newdf)

In [ ]:
# merging DataFrames based on common fields

list3 = ['Cropland', 'Forest', 'Grassland ', 'Water']
list4 = [55 , 15, 10, 2]

data2 = list(zip(list3, list4))
newdf3 = pd.DataFrame(data=data2 , columns =['LULC', '2030']) # produce new DataFrame

In [ ]:
# merging matches rows from newdf
pd.merge(newdf, newdf3, how='left', on='LULC')

In [ ]:
# merging matches rows from newdf3
pd.merge(newdf, newdf3, how='right', on='LULC')

In [ ]:
# merging matches common rows
pd.merge(newdf, newdf3, how='inner', on='LULC')

In [ ]:
# merging matches all rows
pd.merge(newdf, newdf3, how='outer', on='LULC')

## References

pandas documentation, Version 2.2.3, 2024. https://pandas.pydata.org/docs/index.html

pandas cheat sheet. https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf